---
import Layout from '../../../layouts/Layout.astro';

export async function getStaticPaths() {
  const { fetchGuideData } = await import('../../../utils/dataFetcher');
  try {
    const items = await fetchGuideData();
    return items.map((item) => ({ params: { id: item.item_id }, props: { guideData: item } }));
  } catch (e) {
    return [];
  }
}

const { guideData } = Astro.props;
---

<Layout>
  <main>
    <article>
      <h1>{guideData?.name_ja}</h1>
      <p>{guideData?.summary_ja}</p>
    </article>
  </main>
</Layout>